.App{
  background-color: #2c3e50;
  min-height: 100vh;
  /*
  background-color: #282c34; 
  min-height: 100vh;
  font-size: calc(10px + 2vmin); */
}
.Display{
  color: yellow;
  margin-left: 50px;
 /* background-color: rgb(239, 9, 193); */
}
.delete{
  color:red;
  margin-top: 5px;
  margin-left: 10px;
}
.form{
  color: rgb(20, 228, 124);
  justify-content: center;
  text-align: center;  
  font-weight: 500;
}
.inputName{
  margin-left: 10px;
   background-color: yellow;
}
.inputEmail{
  margin-left: 15px;  
  margin-top: 5px; 
  background-color: yellow;
 
}
.inputPhone{
  margin-left: 8px;
  margin-top: 5px;
  background-color: yellow;
}
.save{
  margin-top: 10px; 

  color: rgb(69, 9, 235);
}
.cancel{
  margin-left: 10px;

  color: red;
 
}
.editUser{
  margin-top: 0%;
  color: yellow;
  justify-content: center;
  text-align: center;
}
.userMan h1{
  margin-top: 0%;
  color: rgb(42, 10, 228);
  justify-content: center;
  text-align: center;  
}
.DisplayName{
  margin-left: 18px;
}
.DisplayEmail{
  margin-left: 27px;
}
.DisplayPhone{
  margin-left: 13px;
}